<div class="shopping">
  <div class="shop-image">
    <div class="shop-details">
      <div class="elipse size-1 location-1"></div>
      <div class="elipse size-2 location-2"></div>
      <div class="elipse size-3 location-3"></div>
      <div class="elipse size-4 location-4"></div>
      <div class="elipse size-5 location-5"></div>
      <div class="elipse size-6 location-6"></div>
      <div class="heading">
        <h1>Shopping List</h1>
        <p>Edit New Item</p>
      </div>

    </div>

  </div>
  <div class="shopping-form">
    <form
    action="">
      <h1>Edit New Item</h1>
      <label for="">Item Name</label>
      <input type="text" name="item_name"  #item_name
      value="{{selectedItem.item_name}}" required>

      <label for="">Category</label>
      <select name="category" id="" #category  required>

        <option value="{{selectedItem.category._id}}" selected>{{selectedItem.category.name}}</option>
        <option
        *ngFor="let category of categories"
        value="{{category._id}}"
        >
          {{category.name}}
        </option>

      </select>

      <label for="">Price</label>
      <input type="number"  #price name="price" value="{{selectedItem.price}}"  min="1" required >

      <label for="">Quantity</label>
      <input type="number"  #quantity name="quantity" value="{{selectedItem.quantity}}" min="1" required>


      <button type="button" (click)="edit(
        {
        item_name: item_name.value.trim(),
        category: category.value.trim(),
        price: price.value,
        quantity: quantity.value
       }
       )"> Edit Item</button>
    </form>
  </div>
</div>

