<body class="body">

  <div class="main-container" *ngFor="let item of items" class="list-item">

    <div class="main-header">
      <h1>Category: {{item.category.name}}</h1>
    </div>

    <div class="grid">
          <p>Item Name: {{item.item_name}}</p>
          <p>Quantity: {{item.quantity}}</p>
          <p>Price: {{item.price}}</p>
          <div class="btn-cont">
            <button class="del-btn" (click)="deleteItem(item._id)">X</button>
            <button class="del-btn" (click)="goToEdit(item._id)">Edit</button>
          </div>
    </div>

  </div>
</body>
