.body {
  background: linear-gradient(white,sandybrown);
  background-repeat: no-repeat;
  height: 100%;
  box-shadow: 2px 2px 10px rgba(51, 51, 51, 0.192);
  width: 50%;
  margin: 10px auto;
  border: 0.1px solid rgba(119, 119, 119, 0.219);
}
.main-container {
  /* width: 25%; */
  margin: 0 auto;
  background: var(--pri-clr);
  box-shadow: 0 0 0.1rem #000;

}

.btn-cont{
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  width: 100%;
  padding: 0 6rem 0rem 6em;
}



.main-header {
  background-color: var(--pri-clr-light);
  color: #fff;
  position: relative;
  padding: 2px 0;
  border-radius: 3px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 100;

}

.main-header h1 {
  font-size: 18px;
  text-align: center;
}



.del-btn {
  background: rgba(51, 51, 51, 0.438);
  color: crimson;
  border-radius: 2px;
  padding: 5px;
  width: 100px;
  border: none;
  cursor: pointer;
}

.list-item {
  padding: 0 6rem 3rem 6em;
}

